.footer{
    // background: #000;
    padding: 40px 0 0 0;
    .ftr-about{
        .ftr-logo{
            display: block;
            max-width: 120px;
            margin-bottom: 20px;
            // background: #fff;
            // padding: 20px;
            // border-radius: 0 0 5px 5px;
        }
        p{
            color: #fff;
            font-size: 14px;
            margin: 5px 0;
            line-height: 1;
        }
        .ftr-contact{
            li{
                padding: 5px 0;
                color: #fff;
                font-size: 13px;
                i{
                    margin-right: 8px;
                }
                a{
                    color: #fff;
                    display: block;
                    font-size: 13px;
                    i{
                        margin-right: 8px;
                    }
                }
            }
        }
        .ftr-social {
            margin-top: 30px;
            li {
                border: 1px solid #fff;
                transform: rotate(45deg);
                a{
                    color: #fff;
                    display: block;
                    font-size: 13px;
                    padding: 0;
                    height: 35px;
                    width: 35px;
                    line-height: 33px;
                    text-align: center;
                    transform: rotate(-45deg);
                    i{
                        line-height: inherit;
                    }
                }
                &:not(:last-child){
                    margin-right: 25px;
                }
            }
        }
    }
}
.ftr-btm {
    // border-top: 1px solid #fff;
    padding: 22px 0 30px 0;
    // margin-top: 30px;
    .ftr-btm-text{
        p{
            color: #fff;
            font-size: 12px;
            text-align: center;
        }
    }
}
.ftr-menu-box {
    // padding-top: 40px;
    h4{
        font-family: "gobold_boldregular";
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
    }
    ul{
        column-count: 4;
        li{
            position: relative;
            margin: 0 0 13px 0;
            a{
                color: #fff;
                display: block;
                font-size: 13px;
                // padding: 13px 0;
                .dates{
                    display: block;
                    font-size: 11px;
                }
                img{
                    height: 60px;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
            // + {
            //     li{
            //         &::before{
            //             content: "";
            //             position: absolute;
            //             left: 0;
            //             width: 50%;
            //             height: 1px;
            //             background: #fff;
            //         }
            //     }
            // }
        }
    }
}
.ftr-social-list{
    li{
        a{
            display: block;
            color: #fff;
            font-size: 20px;
        }
        &:not(:last-child){
            margin-right: 15px;
        }
    }
}
.ftr-newsltr{
    margin-top: 50px;
    p{
        color: #fff;
        font-size: 14px;
        margin-bottom: 8px;
    }
    .ftr-newsltr-wrap{
        .newsltr-wrap-lft{
            flex: 1 0 0%;
            padding-right: 15px;
        }
        .newsltr-wrap-rgt{
            flex: 0 0 100px;
            max-width: 100px;
            .ftr-subs-btn{
                height: 38px;
                line-height: 36px;
                text-align: center;
                padding: 0 8px;
                color: #fff;
                background: #c10816;
                border: 1px solid #fff;
                outline: none !important;
                box-shadow: none;
                width: 100%;
                border-radius: 0.25rem;
                font-size: 16px;
                text-transform: capitalize;
            }
        }
    }
}
.footer-overly {
    position: relative;
    z-index: 1;
    &::after{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgb(0,63,117);
        background: linear-gradient(0deg, rgba(0,63,117,1) 0%, rgba(37,161,215,0.5) 100%);
        z-index: -1;
    }
}
.bg-footer{
    background-size: cover !important;
}