.log-reg-banner{
    background-size: cover !important;
    min-height: 100vh;
    .log-reg-area{
        max-width: 500px;
        width: 100%;
        margin: 100px auto;
    }
}
.log-reg-box{
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 20px;
    h3{
        // font-family: "goboldregular";
        font-family: 'TrajanPro';
        text-transform: uppercase;
        font-size: 30px;
        line-height: 1;
        text-align: center;
        padding-bottom: 0;
    }
}
.log-input {
    margin-bottom: 20px;
    label{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
    }
    .log-input-style{
        border: none;
        border-bottom: 1px solid #000;
        border-radius: 0;
        box-shadow: none;
        padding: 5px 5px 5px 0;
    }
    .add-pass-eye{
        .log-input-style{
            padding-right: 25px;
        } 
    }
}
.add-pass-eye {
    position: relative;
    .pass-eye{
        display: block;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
.log-btn-wrap{
    ul{
        li{
            .reg-btn,
            .log-btn{
                box-shadow: none;
                outline: none !important;
                // font-family: "gobold_boldregular";
                font-family: 'TrajanPro';
                font-size: 18px;
                line-height: 2.2;
                padding: 0 50px;
            }
            .reg-btn{
                background: #d90303;
                color: #fff;
                border: 1px solid #d90303;
                &:hover{
                    background: #d90303;
                    border-color: #d90303;
                }
            }
            .log-btn{
                background: #fff;
                color: #000;
                border: none;
                display: block;
                text-decoration: underline;
                font-size: 14px;
                &:hover{
                    color: #d90303;
                }
            }
            &:not(:last-child){
                margin-right: 15px;
            }
        }
    }
}
.for-got-wrap{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .for-got-pass{
        background: #fff;
        color: #000;
        border: none;
        display: block;
        text-decoration: underline;
        text-transform: capitalize;
        font-size: 15px;
        &:hover{
            color: #d90303;
        }
    }
}
.verify-email{
    padding: 40px 0;
    background-color: #efefef;
    // position: relative;
    // &::after{
    //     content: "";
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     background: url(/images/bee.svg);
    // }
}

.verify-email-wrap {
    p{
        padding-bottom: 10px;
        font-size: 13px;
        font-weight: 500;
    }
    .mail-id-reg{
        color: #d90303;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px; 
    }
    .resend-link{
        border: none;
        box-shadow: none;
        outline: none !important;
        font-family: "gobold_boldregular";
        font-size: 16px;
        line-height: 2.5;
        padding: 0 30px;
        background: #d90303;
        color: #fff;
    }
}

// Profile upload Start
.avatar-upload {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 30px auto;
    .avatar-preview {
        width: 100%;
        height: 100%;
        #imagePreview {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border: 6px solid #01151a;
        }
    }

    .avatar-edit {
        position: absolute;
        right: 9px;
        z-index: 1;
        top: 4px;

        input {
            // display: none;
            opacity: 0;
            visibility: hidden;
            height: 0;

            + {
                label{
                    &.file-pop {
                        display: inline-block;
                        width: 34px;
                        height: 34px;
                        line-height: 34px;
                        margin-bottom: 0;
                        border-radius: 50%;
                        background: #fff;
                        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
    
                        &::after {
                            content: "\f303";
                            font-family: 'Font Awesome 5 free';
                            font-weight: 900;
                            color: #000;
                            position: absolute;
                            top: 0;
                            left: 0;
                            text-align: center;
                            width: 100%;
                        }
                    }
                }
            }

            // Doble label
            &.error{
                +{
                    label{
                        +{
                            label{
                                &.file-pop {
                                    display: inline-block;
                                    width: 100%;
                                    height: 100%;
                                    line-height: 1;
                                    margin-bottom: 0;
                                    border-radius: 50%;
                                    background: rgba(255, 255, 255, 0.6);
                                    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
                                    cursor: pointer;
                                    transition: all 0.2s ease-in-out;                
                                    &::after {
                                        position: absolute;
                                        content: "\f067";
                                        font-family: 'Font Awesome 5 free';
                                        font-weight: 900;
                                        top: 50%;
                                        left: 50%;
                                        width: auto;
                                        transform: translate(-50%, -50%);
                                        font-size: 25px;
                                        color: #3c3c3c;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.when-full-select{
        .avatar-edit{
            right: 6px;
            top: 6px;
            height: calc(100% - 12px);
            width: calc(100% - 12px);
            input{
                + {
                    label{
                        &.file-pop{
                            width: 100%;
                            height: 100%;
                            line-height: 1;
                            background: rgba(255, 255, 255, 0.6);
                            &::after{
                                content: "\f067";
                                top: 50%;
                                left: 50%;
                                width: auto;
                                transform: translate(-50%, -50%);
                                font-size: 25px;
                                color: #3c3c3c;
                            }
                        }
                    }
                }
            }
        }
        &.uploaded{
            .avatar-edit{
                input{
                    + {
                        label{
                            &.file-pop{
                                background: rgba(255, 255, 255, 0);
                                &::after{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




// Profile upload End
.head-form{
    h3{
        // font-family: "gobold_boldregular"; 
        font-family: 'TrajanPro';
        text-transform: uppercase;
        padding-bottom: 5px;
        line-height: 1;
        font-size: 28px;
    }
    p{
        font-weight: 500;
    }
}
.complete-account {
    background-color: #fff;   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .1);
    .src-input-wrap{
        .src-input-style{
            background: #ebebeb;
            height: 38px;
        }        
        label{
            text-transform: capitalize;
            padding-bottom: 0;
            line-height: 1;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 3px;
        }
    }
    .src-select-wrap{
        .src-select-style{
            background-color: #ebebeb;
            height: 38px;
        }
        label{
            text-transform: capitalize;
            padding-bottom: 0;
            line-height: 1;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 3px;
        }
    }
}
.acc-save-wrap{
    margin-top: 15px;
    text-align: right;
    .acc-save-btn{
        border: none;
        box-shadow: none;
        outline: none !important;
        // font-family: "gobold_boldregular";
        font-family: 'TrajanPro';
        text-transform: uppercase;
        font-size: 18px;
        line-height: 2.2;
        padding: 0 30px;
        background: #000;
        color: #fff;
        &:hover{
            background: #d90303;
        }
    }
}
.model-head-info{ 
    margin-bottom: 20px;   
    .model-head-details{
        margin-top: 20px;
        h4{
            text-transform: capitalize;
            padding-bottom: 0;
            line-height: 1;
            font-size: 13px;
            font-weight: 600;
        }
    }
}
.model-head-listing {
    .radio{
        padding-left: 0;
        margin-bottom: 10px;
        input{
            display: none;
        }
        label{
            background: #747474;
            padding: 5px 18px;
            color: #fff;
            // font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 14px;
            &::before{
                left: 14px;
                top: -7px;
                border-radius: 0px;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease-in-out;
            }
            &::after{
                content: "\f00c";
                font-family: "Font Awesome 5 free";
                font-weight: 900;
                left: 17px;
                top: -6px;
                background: none;
                color: #d90303;
                font-size: 11px;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease-in-out;
            }
        }
        &:not(:last-child){
            margin-right: 10px;
        }
        input[type="radio"]{
            &:checked{
                +{
                    label{
                        background: #000;
                        &::before,
                        &::after{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

.log-input {
    input[type=text]{
        &.error{
            border-color: #f00; 
            +{
                label{
                    &.error{
                        display: none !important;
                    }
                }
            }
        }
        div{
            &.error{
                color: #f00;
                font-size: 14px;
            }
        }
    }
    input[type=password]{
        &.error{
            border-color: #f00; 
            +{
                label{
                    &.error{
                        display: none !important;
                    }
                }
            }
        }
    }
}
label{
    &#profile_image-error {
        top: 100%;
        margin-top: 10px;
        width: 100%;
        font-size: 11px;
        text-align: center;
        color: #f00;
    }
}

.log-reg-banner-new {
    position: relative;
    padding: 50px 0 0 0;
    &::after{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: url("../images/log-bg.jpg") no-repeat center center;
        z-index: -1;
        background-size: cover !important;
    }
}
.lft-back {
    max-width: 45%;
    // max-width: 63%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.banner-new-lft {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
    h2{
        font-size: 55px;
        font-weight: 800;
        color: #fff;
        text-align: center;
    }
    p{
        font-size: 40px;
        color: #fff;
        text-align: center;
        line-height: 1;
        padding-bottom: 20px;
    }
}
.banner-new-rgt{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
    padding: 0 65px 65px 0;
}
.log-logo {
    max-width: 200px;
    margin: 0 auto 10px;
    display: block;
}
.log-btn-new {
    font-family: "TrajanPro";
    font-size: 18px;
    line-height: 2;
    padding: 0 20px;
    background: #1e8cc2;
    color: #fff !important;
    margin-left: 20px;
}
.log-reg-banner-new{
    .log-input {
        .log-input-style {
            border-bottom: none;
            padding: 5px;
            background: #fff;
            border-radius: 5px;
        }
        .add-pass-eye {
            .pass-eye {
                right: 4px;
            }
        }
    }
}
.log-menu {
    display: flex;
    justify-content: center;
    li{
        a{
            color: #000;
            font-size: 12px;
            display: block;
        }
        &:not(:last-child){
            border-right: 1px solid #000;
            padding-right: 10px;
        }
        &:not(:first-child){
            padding-left: 10px;
        }
    }
}
.sgn-text-icon{
    margin: 10px 0;
    li{
        h4{
            font-size: 16px;
            padding-bottom: 0;
        }
        img{
            max-width: 80px;
        }
        &:not(:last-child){
            margin-right: 10px;
        }
    }
}




  
.flip-container {
	perspective: 1000;
}
.flipper {
    min-height: 648px;
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
}

.front{
	z-index: 2;
	transform: rotateY(0deg);
}

.back{
    transform: rotateY(180deg);
}
.flip{
	transform: rotateY(180deg);
}
